
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/build/
/public/upload/
/public/turnament/
/public/*:Zone.Identifier
/var/
/vendor/
###< symfony/framework-bundle ###

/compose.local.yaml

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> Node.js ###
/node_modules/
npm-debug.log
yarn-error.log
/test-results/
/playwright-report/
###< Node.js ###

.phpunit.cache

*.code-workspace

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
