h1, h2, h3, h4, h5, h6
{
	margin-top: 0;
	margin-bottom: $fix-lg;

	font-variant: small-caps;
	color: $gray;

	&:not(h1)
	{
		margin-top: $fix-lg;
	}

}

th, td
{
	color: $gray;
}

a
{
	text-decoration: none;
	color: $green;

	&:not([href]):not([tabindex])
	{
		color: $green;
	}
}


a:hover
{
	text-decoration: none;
	color: $red;
}

.margin-lg
{
	margin: $fix-lg auto;

	.form-group
	{
		margin-top: 0;
		margin-bottom: 0;
	}
}

.margin-top-lg
{
	margin-top: $fix-lg;
}

.margin-bottom-lg
{
	margin-bottom: $fix-lg;
}

.margin-top-zero
{
	margin-top: 0 !important;
}

.left-align
{
	text-align: left !important;
}

.black, .red, .green, .yellow
{
	font-size: $font-size-base * 1.4;
}

.black
{
	color: $suit-black;
}

.red
{
	color: $suit-red;
}

.green
{
	color: $suit-green;
}

.yellow
{
	color: $suit-yellow;
}

