	#menu
	{

		span
		{
			font-size: $fix-md;
			font-variant: small-caps;
			font-weight: bold;
			color: $gray;

			display: block;
			text-align: center;
			padding-top: $btn-padding-y;
		}

		ul
		{
			list-style: none;
			display: table;

			margin: $fix-lg auto;
			padding: 0;

			li 
			{
				text-align: center;
				margin-bottom: $fix-md;
				/*&:not(:first-child):nth-child(2n) {
					text-align: right;
				}*/

				* {
					font-variant: small-caps;
					font-size: $fix-md;
				}

				a 
				{
					color: $gray;
					width: 100%;

					.menu-suit-symbol {
						display: inline-block;
						min-width: 1em;
						text-align: center;
						padding: 0;
					}

					.menu-suit-symbol-black { color: $suit-black; }
					.menu-suit-symbol-red { color: $suit-red; }
					.menu-suit-symbol-green { color: $suit-green; }
					.menu-suit-symbol-yellow { color: $suit-yellow; }

					&:hover
					{
						color: white !important;

						.menu-suit-symbol {
							color: white !important;
						}
					}
				}
			}
		}
	}

/* Large devices and lower (<992px) */
@include media-breakpoint-down(lg)
{
	#menu
	{
		background-color: $white;
		padding: 0 !important;

		span
		{
			float: left;
			font-weight: bold;
			/*margin: calc($fix-md / 2);*/
		}

		ul
		{
			margin: 0;
			padding: 0 $fix-sm;
			border-bottom: 1px solid $gray-lighter;
			&:first-child {
				border-top: 1px solid $gray-lighter;
			}
			width: inherit;

			li 
			{
				margin: calc($fix-md / 2);
				float: left;
			}
		}
	}
}
/* Small devices and lower (<576px) */
@include media-breakpoint-down(sm)
{
	#menu
	{
		padding: 0;

		ul
		{
			li
			{
				margin: $fix-xs;
			}
		}
	}
}
