.dt-container .row {
	&:not(.dt-layout-table) {
		display: none;
		height: 0;
	}

	&.mt-2 {
		margin-top: 0 !important;
	}

	.col-md {
		padding: 0 !important;
		margin: 0 !important;
	}
}

table.table
{
	border-collapse: collapse !important;
	font-family: $font-family-sans-serif !important;

	&.table-striped-alt tr {
		
		&.odd {
			background-color: $table-accent-bg !important;
		}

        &.even {
			background-color: $body-bg !important;
        }

		td, th 
		{
			background-color: transparent !important;
			box-shadow: none !important;
		}
	}

	&.table-striped {
		thead tr:first-child {
			background-color: $body-bg !important;
		}
		tr {
			&:nth-child(odd) {
				background-color: $table-accent-bg !important;
			}

			&:nth-child(even) {
				background-color: $body-bg !important;
			}

			td, th 
			{
				background-color: transparent !important;
				box-shadow: none !important;
			}
		}
	}

	tr
	{

		td, th 
		{
			text-align: center;
			vertical-align: middle;	
		}		

		
	}

	&.table-hover > tbody > tr:hover
	{
		background-color: $gray-100;
	}

	.table-btn-hover
	{
		background-color: $secondary;
	}

	.table-btn
	{
        color: $secondary;

		&:hover
		{
            color: $primary;
            background-color: $gray-300 !important;
			cursor: pointer;

			a {
				color: $red;
			}
		}
	}

    &.dataTable {
        &.no-footer {
            border: none !important;
        }

        thead th {
            padding: 0.5rem !important;
            border-top: 1px solid $gray-300;
            border-bottom: 2px solid $gray-300;
        }

        tbody td {
            padding: 0.5rem !important;
        }

		th.dt-type-numeric, td.dt-type-numeric {
			text-align: center;
		}
    }
}
