@import "~bootstrap/scss/functions";

/* App vars */

$unit: 14px;

$gray-base:              #000;
$gray-darker:            #222222; // lighten($gray-base, 13.5%)
$gray-dark:              #333333; // lighten($gray-base, 20%)
$gray:                   #555555; // lighten($gray-base, 33.5%)
$gray-light:             #777777; // lighten($gray-base, 46.7%)
$gray-lighter:           #eeeeee; // lighten($gray-base, 93.5%)

// Suit colors

//$suit-black: #001a80;
//$suit-black: #2B6496;
//$suit-red: #B40000;
$suit-green: #207160;
//$suit-yellow: #ff660d;
//$suit-yellow: #DDAA00;


$suit-black: #224263;
$suit-red: #A92424;
//$suit-green: #1e5c4e;
$suit-yellow: #D28A00;

//$green: #006E58;
$green: $suit-green;
$red: $suit-red;
$yellow: $suit-yellow;
$blue: $suit-black;
$white: #FFF;
//$black: #000;
$black: #424242;

$body-bg: #F5F5F5;
$primary: $green;
$secondary: $red;
$warning: $yellow;
$success: $green;
$info: $blue;

$pad-xs: 0.2em;
$pad-sm: 0.5em;
$pad-md: 1em;
$pad-lg: 2em;
$pad-xl: 3em;

$fix-xs: $unit * 0.75; 
$fix-sm: $unit * 1; 
$fix-md: $unit * 1.5; 
$fix-lg: $unit * 2; 
$fix-xl: $unit * 3; 


/* Bootstrap-sass overrides */

/*$font-family-serif: serif, Lucida Grande, Verdana, sans-serif;*/
$font-family-serif: Georgia, serif;
$font-family-sans-serif: Verdana, Arial, Helvetica, sans-serif;
$font-family-base: $font-family-serif;
$font-size-base: 0.85rem;


/*$text-color: $gray-darker;*/

$table-accent-bg: $gray-lighter;

//$border-radius: 0;

/* Imports */

@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";

@mixin btn-outline-suit-variant($class-name, $color) {
    .btn-outline-#{$class-name} {
        color: $color;
        border-color: $color;
        background-color: transparent;

        &:hover,
        &:focus,
        &:active,
        &.active,
        &:not(:disabled):not(.disabled):active {
            color: $white;
            background-color: $color;
            border-color: $color;
        }
    }
}

@include btn-outline-suit-variant("black", $suit-black);
@include btn-outline-suit-variant("red", $suit-red);
@include btn-outline-suit-variant("green", $suit-green);
@include btn-outline-suit-variant("yellow", $suit-yellow);

/* TinyMCE 6 handles its own styling */
/* @import "~tinymce/skins/lightgray/content.min.css"; */
/* @import "~tinymce/skins/lightgray/skin.min.css"; */
@import "_georgia-embedded.scss";
@import "_media.scss";
@import "_global.scss";
@import "_menu.scss";
@import "_sidebar.scss";
@import "_header.scss";
@import "_alert.scss";
@import "_tables.scss";
@import "_nav.scss";
@import "_form.scss";
@import "_event.scss";
@import "_registrations.scss";
@import "_content.scss";
@import "_footer.scss";
@import "_print.scss";
